MySQL-python==1.2.3
PAM==0.4.2
Pillow==2.3.0
Scrapy==0.24.5
Twisted==13.2.0
Twisted-Conch==13.2.0
Twisted-Core==13.2.0
Twisted-Lore==13.2.0
Twisted-Mail==13.2.0
Twisted-Names==13.2.0
Twisted-News==13.2.0
Twisted-Runner==13.2.0
Twisted-Web==13.2.0
Twisted-Words==13.2.0
Unidecode==0.04.14
argparse==1.2.1
chardet==2.0.1
colorama==0.2.5
compizconfig-python==0.9.11.3
cssselect==0.9.1
debtagshw==0.1
defer==1.0.6
dirspec==13.10
duplicity==0.6.23
html5lib==0.999
httplib2==0.8
lockfile==0.8
lxml==3.3.3
oauthlib==0.6.1
oneconf==0.3.7
pexpect==3.1
psutil==1.2.1
pyOpenSSL==0.13
pyasn1==0.1.7
pycrypto==2.6.1
pycups==1.9.66
pygobject==3.12.0
pyserial==2.6
pysmbc==1.0.14.1
pytz==2012c
pywapi==0.3.6
pyxdg==0.25
urllib3==1.7.1
